{% extends "base.html" %}
{% block title %}Login - Expense Tracker{% endblock %}

{% block content %}
<div class="card small-card">
    <h1>Login</h1>

    <form method="POST">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p>New user?
        <a href="{{ url_for('auth.signup') }}">Create account</a>
    </p>
</div>
{% endblock %}
