{% extends "base.html" %}
{% block title %}Signup - Expense Tracker{% endblock %}

{% block content %}
<div class="card small-card">
    <h1>Create Account</h1>

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" minlength="6" required>

        <button type="submit">Signup</button>
    </form>

    <p>Already registered?
        <a href="{{ url_for('auth.login') }}">Login</a>
    </p>
</div>
{% endblock %}
